body, html {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.logo-container {
    text-align: left;
    padding: 20px;
    background-color: #f4f4f4;
    flex-shrink: 0;
}


.logo-container a {
    color: black; /* Change the color to black */
    text-decoration: none; /* Remove the underline */
}



.nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px 0;
}

.nav-item {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
}

.nav-item:hover {
    background-color: #555;
}

.content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.era-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.image-content {
    flex-basis: 30%; /* Adjust the width of the image content */
    margin-left: 20px; /* Add some margin between the text and image content */
}

.text-content {
    flex-basis: 70%; /* Adjust the width of the text content */
}


.text-content {
    padding-right: 20px;
}

.image-content img {
    max-width: 100%;
    align-items: right;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: auto;
}



@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
    }
    .nav-item {
        padding: 10px;
    }
    .era-section {
        flex-direction: column;
        text-align: center;
    }
    .text-content, .image-content {
        flex-basis: auto;
    }
    .text-content {
        padding-right: 0;
    }
}


/* Ensure footer sticks to the bottom */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    margin-top: auto;
    text-align: left;
}
