body, html {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo-container {
    text-align: left;
    padding: 20px;
    background-color: #f4f4f4;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 10px 0;
}

.nav-item {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    margin: 0 10px;
}

.nav-item:hover {
    background-color: #555;
}

.content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align to the left */
}

.story {
    width: 100%;
    margin-bottom: 40px; /* Space between stories */
}

.story-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

.story-image {
    width: 150px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    background-color: #ddd; /* Placeholder for image */
}

.author {
    align-self: flex-end; /* Align the author to the right */
}

.footer {
    text-align: left;
    padding: .5px;
    background-color: #333;
    color: white;
}

@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
    }
    .nav-item {
        padding: 10px;
    }

    .story-content {
        flex-direction: column;
    }

    .story-image {
        margin-bottom: 10px; /* Space between image and text */
    }

    .author {
        align-self: flex-start; /* Align the author to the left on small screens */
    }
}
