body {
    font-family: Arial, Helvetica, sans-serif;
    background: #011F26;
}

/* Structure */
#content {
    background: #5C7373;
    padding: 5px;
    width: 80%;
    margin: auto;
    border-radius: 5px;
}

h1 {
    color: #032612;
    margin-left: 10px; /* Adjust the margin for your name */
}

.center {
    text-align: center;
}

.assignment-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.assignment {
    text-align: center;
    border: 1px solid #027368;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    flex: 1;
    max-width: 300px;
    box-sizing: border-box;
    background-color: #027368;
}

.assignment h3 {
    color: #032612;
}

.assignment a {
    text-decoration: none;
    color: #032612;
}

.assignment img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.assignment p {
    color: #032612;
}

/* Responsive design for small screens */
@media only screen and (max-width: 768px) {
    .assignment {
        flex: 100%;
    }
}
