body {
    font-family: Arial, Helvetica, sans-serif;
    background: #011F26;
}

/* Assignments Section */
#assignments-content {
    background: #5C7373;
    padding: 5px;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Projects Section */
#projects-content {
    background: #4A6262;
    padding: 5px;
    width: 80%;
    margin: auto;
    border-radius: 5px;
}

h1, h2, h3 {
    color: #032612;
    margin-left: 10px;
}

.center {
    text-align: center;
}

.assignment-section, .project-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.assignment, .project {
    text-align: center;
    border: 1px solid #027368;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    flex: 1;
    max-width: 300px;
    box-sizing: border-box;
}

.assignment {
    background-color: #027368;
}

.project {
    background-color: #035C5C;
}

.assignment h3, .project h3 {
    color: #032612;
}

.assignment a, .project a {
    text-decoration: none;
    color: #032612;
}

.assignment img, .project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.assignment p, .project p {
    color: #032612;
}

/* Responsive design for small screens */
@media only screen and (max-width: 768px) {
    .assignment, .project {
        flex: 100%;
    }
}
