<!DOCTYPE html>
<html>
    <head>
        <!--Author Thomas Gilman-->
        <title>Custom Title</title>
        <link rel="stylesheet" href="styles.css"
    </head>

    <body>
        <div id="content">
            <h1>Main Heading</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempus iaculis urna id volutpat lacus laoreet non. Urna neque viverra justo nec ultrices. Egestas congue quisque egestas diam in. Arcu vitae elementum curabitur vitae nunc sed velit dignissim. Integer malesuada nunc vel risus commodo viverra. Ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Posuere urna nec tincidunt praesent semper feugiat nibh sed. Sem integer vitae justo eget magna. Risus nec feugiat in fermentum posuere urna nec tincidunt praesent. Sit amet consectetur adipiscing elit pellentesque habitant.
            </p>
             <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempus iaculis urna id volutpat lacus laoreet non. Urna neque viverra justo nec ultrices. Egestas congue quisque egestas diam in. Arcu vitae elementum curabitur vitae nunc sed velit dignissim. Integer malesuada nunc vel risus commodo viverra. Ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Posuere urna nec tincidunt praesent semper feugiat nibh sed. Sem integer vitae justo eget magna. Risus nec feugiat in fermentum posuere urna nec tincidunt praesent. Sit amet consectetur adipiscing elit pellentesque habitant.
             </p>
             <section id ="play-area">
                <section id ="block">
                    <p>Hi</p>
                </section>
             </section>
             <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempus iaculis urna id volutpat lacus laoreet non. Urna neque viverra justo nec ultrices. Egestas congue quisque egestas diam in. Arcu vitae elementum curabitur vitae nunc sed velit dignissim. Integer malesuada nunc vel risus commodo viverra. Ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Posuere urna nec tincidunt praesent semper feugiat nibh sed. Sem integer vitae justo eget magna. Risus nec feugiat in fermentum posuere urna nec tincidunt praesent. Sit amet consectetur adipiscing elit pellentesque habitant.
             </p>
             <iframe src =<iframe src=<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13231.076218650023!2d-81.04231908812028!3d33.99846530199813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f8bb282cb2a61b%3A0x78bd73542178f54e!2sUniversity%20of%20South%20Carolina!5e0!3m2!1sen!2sus!4v1706019686835!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>></iframe>
    </body>
    
</html>