<!DOCTYPE html>
<html>
    <head>
        <!--Author Thomas Gilman-->
        <title>Custom Title</title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <div id="content">
            <h1>Main Heading</h1>
            <button id="btn-click">Click Me</button>
            <p id = "message" Im a message></p>

            <img id ="placeholder" src="https://place-hold.it/300x500/666";
            <p>Lorum Ipsum</p>
        <div>
        <script src ="script.js"></script>
    
    </body>
    
</html>