:root {
    --square-top: 0px;
    --ball-color:skyblue;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray;
}

/* Structure */

#content {
    background: #fff;
    padding: 5px;
    width: 80%;
    margin: auto; /* center horizontally */
    border-radius: 5px;
}


#square {
    width: 100px;
    height: 100px;
    border: 1px solid black; 
    position: relative;
    top: 200px;
    top: var(--square-top);
}

.circle {
    background: var(--ball-color);
    width: 20px;
    height: 25px;
    border-radius: 25px;

}


.rainbow {
    animation-name: colorAnim;
    animation-duration: 4s;
}

/* The animation code */
@keyframes colorAnim {
    0% {
        background-color: red;
    }
    10%{
        background-color: yellow;
    }
    20%{
        background-color: green;
    }
    60%{
        background-color: blue;
    }
    80%{
        background-color: indigo;
    }
    90%{
        background-color: violet;
    }
}


/* Typography */

h1 {
    color: darkslategray;
}

.special {
    background: slateblue;
    size: 2em;
    color: forestgreen;
    border: 2px dotted burlywood;
}