body {
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray;
}

/* Structure */

#content {
    background: black;
    padding: 13px;
    margin: auto; /* center horizontally */

}


/* Typography */

h1 {
    color: darkslategray;
}